.places{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
.places h1{
    padding-top: 20px;
    padding-left: 15px;
    font-size: 30px;
    width: 100%;
}
.places article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px #FF5A5F solid;
    border-radius: 4px;
    display: inline-block;
}
.places article h2{
    font-size: 30px;
    text-align: center;
}
.price_by_night{
    color: #FF5A5F;
    border: 4px #FF5A5F solid;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    float: right;
    margin-top: -80px;
}
.price_by_night p{
    margin: 15px 5px;
    text-align: center;
}
.information{
    height: 80px;
    border-top: 1px #DDDDDD solid;
    border-bottom: 1px #DDDDDD solid;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    padding-left: 45px;
}
.max_guest{
    width: 100px;
    background: url(../images/icon_group.png) no-repeat;
    margin-top: 6px;
}
.number_rooms{
    width: 100px;
    background: url(../images/icon_bed.png) no-repeat;
    margin-top: 6px;
}
.number_bathrooms{
    width: 100px;
    background: url(../images/icon_bath.png) no-repeat;
    margin-top: 6px;
}
.information p{
    margin-top: 50px;
    margin-left: -9px;
}
.description{
    text-align: justify;
}
article .amenities{
    margin-top: 40px;
}
article .amenities h2{
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px #DDDDDD solid;
    text-align: left;
}
article .amenities ul{
    padding: 0;
    margin: 0;
}
article .amenities li{
    list-style-type: none;
}
article .amenities li p{
    margin-left: 30px;
}
article .tv{
    background: url(../images/icon_tv.png) no-repeat;
    background-size: 20px;
    height: 20px;
}
article .wifi{
    background: url(../images/icon_wifi.png) no-repeat;
    background-size: 20px;
    height: 20px;
}
article .pets{
    background: url(../images/icon_pets.png) no-repeat;
    background-size: 20px;
    height: 20px;
}
article .reviews{
    margin-top: 40px;
}
article .reviews h2{
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px #DDDDDD solid;
    text-align: left;
}
article .reviews ul{
    padding: 0;
    margin: 0;
}
article .reviews li{
    list-style-type: none;
}
article .reviews h3{
    font-size: 14px;
    padding: 0;
    margin: 0;
}
article .reviews p{
    font-size: 12px;
    margin-top: 5px;
}
